fastapi
uvicorn[standard]
python-dotenv
pydantic
torch
transformers
pandas
scikit-learn
tqdm
bcrypt
python-jose
slowapi
SQLAlchemy
psycopg2-binary
openai
orjson
seaborn
python-multipart
redis>=8.0.1
celery>=5.3.6
prometheus-client>=0.19.0